<!DOCTYPE html>
<html lang="en">

{% load static %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'home/styles.css' %}">
        <script src="https://kit.fontawesome.com/yourcode.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>NomadLyfe</title>
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-dark bg-main sticky-top">
            <div class="container">
                <div class="row">
                    <img class="image-circle pfp" src="{% static 'images/profile.jpg' %}" alt="profile pic" style="padding-top: 2%; object-fit:cover; object-position: 0 0px;">
                    <a class="navbar-brand" href="#">   
                        <h2 class="tulisan">Nomad Jeff</h2>
                        <p class="tulisan">Steam ID: nomadWarrior13</p>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="navbar-collapse collapse" id="navbarNavAltMarkup">
                            <div class="navbar-nav mr-auto">
                                <a class="nav-item active" href="{% url 'home:index' %}">Home <span class="sr-only">(current)</span></a>
                                <a class="nav-item " href="{% url 'home:index' %}#about">About</a>
                                <a class="nav-item " href="{% url 'home:index' %}#container3">Experiences</a>
                                <a class="nav-item " href="{% url 'home:index' %}#contacter">Contact</a>
                                <a class="nav-item " href="{% url 'home:halaman2' %}">Favorite Movie</a>
                                <a class="nav-item " href="{% url 'story1applied:index' %}">Story 1</a>
                                <a class="nav-item " href="{% url 'story5:index' %}">Mata Kuliah</a>
                            </div>
                        </div>
                    </a>
                </div>
            
            </div>
        </nav>

        {% block content %}
        {% endblock %}
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>
