{% extends 'story5/base.html' %}
{% load static %}

{% block meta %}
<title>Add Matkul</title>
{% endblock meta %}

{% block content %}
<div class="main pt-3">
    <h2 class="text-center" style="color: rgb(14, 131, 233);">Add Mata Kuliah</h2>
    <div class="container" style="background-color: rgba(213, 5, 5, 0.292);">
        <div class="rounded-lg mb-3 p-3 card-form">
            <form action="{% url 'story5:addmatkul' %}" method="POST" style="object-position: left;">
                {%csrf_token%}
                <div class="form-group row">
                    <label for="nama-matkul" class="col-sm-2 col-form-label">Matkul</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="nama-matkul" placeholder="Mata kuliah" name="nama" required>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col">
                        <p class="p-auto m-auto">Semester</p>
                        <select class="form-control mb-1" name="sems" required>
                            <option value="2019/2020 Gasal">Gasal 2019/2020</option>
                            <option value="2019/2020 Genap">Genap 2019/2020</option>
                            <option value="2020/2021 Gasal">Gasal 2020/2021</option>
                            <option value="2020/2021 Genap">Genap 2020/2021</option>
                            <option value="2021/2022 Gasal">Gasal 2021/2022</option>
                            <option value="2021/2022 Genap">Genap 2021/2022</option>
                            <option value="2022/2023 Gasal">Gasal 2022/2023</option>
                            <option value="2022/2023 Genap">Genap 2022/2023</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="ruangan-matkul" class="col-sm-2 col-form-label">Ruang Kelas</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="ruangan-matkul" placeholder="Nama/kode ruangan" name="ruangan" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="dosen-matkul" class="col-sm-2 col-form-label">Dosen</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="dosen-matkul" placeholder="Dosen pengajar" name="dosen" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="sks-matkul" class="col-sm-2 col-form-label">SKS</label>
                    <div class="col-sm-10">
                        <input type="number" min="1" max="10" placeholder="Masukkan angka 1-10" class="form-control" id="sks-matkul" name="sks" required>
                    </div>
                </div>
                <div class="form-group row">
                    <textarea placeholder="Deskripsi singkat mata kuliah (max 400 karakter)" class="form-control input-description p-2 m-4" name="desc" required></textarea>
                </div>
                <div class="form-group row">
                    <div class="col-sm-10">
                      <button type="submit" class="btn btn-primary">Tambahkan Matkul Ini</button>
                    </div>
                </div>     
            </form>
        </div>
    </div>
</div>
{% endblock %}