<!DOCTYPE html>
<html lang="en">

{% load static %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'story5/styles.css' %}">
        <script src="https://kit.fontawesome.com/yourcode.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        {% block meta %}
        {% endblock meta %}
    </head>
    <body>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <a class="navbar-brand" href="{% url 'story5:index' %}">Main Menu</a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarMenu">
                <ul class="navbar-nav ml-auto">

                    {% if page == "index" %}
                        <li class="nav-item active">
                            <a class="nav-link " href="{% url 'home:index' %}">Past Stories</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link " href="{% url 'story5:index' %}">Perkuliahan</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="{% url 'story5:addmatkul' %}">Tambah Matkul</a>
                        </li>
                    {% elif page == "add_page" %}
                        <li class="nav-item active">
                            <a class="nav-link " href="{% url 'home:index' %}">Past Stories</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link " href="{% url 'story5:index' %}">Perkuliahan</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="{% url 'story5:addmatkul' %}">Tambah Matkul</a>
                        </li>
                    {% else %}
                        <li class="nav-item active">
                            <a class="nav-link " href="{% url 'home:index' %}">Past Stories</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link " href="{% url 'story5:index' %}">Perkuliahan</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="{% url 'story5:addmatkul' %}">Tambah Matkul</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        {% block content %}
        {% endblock %}
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>
