{% extends 'story5/base.html' %}
{% load static %}

{% block meta %}
<title>Front Page</title>
{% endblock meta %}


{% block content %}

<div class="container-fluid bg-main2 h-with-nav">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-12 p-2 d-flex align-items-center justify-content-center">
                <div class="about-box bg-main3 border-main4 p-2 text-center d-flex justify-content-center align-items-center flex-column" style="background-color: aliceblue;">
                    <img class="img-thumbnail" src="{% static 'images/img2.jpg' %}" alt="foto" style="height: 360px; width: 260px;">
                    <h3 class="text-dark"><a class="nav-item " href="{% url 'story5:addmatkul' %}">Tambahkan Matkul</a></h3>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12 p-2 d-flex align-items-center justify-content-center">
                <div class="about-box bg-main3 border-main4 p-2 text-center d-flex justify-content-center align-items-center flex-column" style="background-color: aliceblue;">
                    <img class="img-thumbnail" src="{% static 'images/img1.jpg' %}" alt="foto" style="height: 360px; width: 260px;">
                    <h3 class="text-dark"><a class="nav-item " href="{% url 'home:index' %}">Previous Stories</a></h3>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12 p-2 d-flex align-items-center justify-content-center">
                <div class="about-box bg-main3 border-main4 p-2 text-center d-flex justify-content-center align-items-center flex-column" style="background-color: aliceblue;">
                    <img class="img-thumbnail" src="{% static 'images/img3.jpg' %}" alt="foto" style="height: 360px; width: 260px;">
                    <h3 class="text-dark"><a class="nav-item " href="{% url 'home:halaman2' %}">Hobby</a></h3>
                </div>
            </div>
        </div>

        <div style="text-align: center; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: 50px;">
            <h1>Jadwal Kelas<br>--------<>--------</h1>
        </div>

        <div class="main pt-3">
            <div class="container">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{message.tags}} alert-dismissible show fade" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                {% endif %}
                {% for matakuliah in listmatkul %}

                <div class="card-form p-3 row mb-3 rounded-lg" style="background-color: rgba(24, 56, 84, 0.163); margin: 2%; padding: 2%;">
                    <div class="col-9">
                        <h2 class="p-auto m-auto">
                        {{matakuliah.nama}}
                        </h2>
                        <p class="p-auto m-auto"> Ruangan : {{matakuliah.ruangan}}</p>
                        <a class="link-matkul" href="{{matakuliah.get_absolute_url}}">
                            <p class="p-auto m-auto">Informasi lebih lanjut</p>
                        </a>
                    </div>
                    <div class="col-3 d-flex justify-content-center align-items-center">
                        <form action="{% url 'story5:deletematkul' matakuliah.id %}" method="POST" class="mr-auto">
                            {% csrf_token %}
                            <button class="btn btn-danger mr-auto" type="input>">
                                Hapus
                            </button>
                        </form>
                    </div>
                </div>
                {% empty %}
                    <h2 class="text-center">Masukan data mata kuliah di kartu "Tambahkan Matkul"</a></h2>
                {% endfor %}
            </div>
        </div>
    </div>

</div>

{% endblock %}
