{% extends 'story5/base.html' %}
{% load static %}

{% block meta %}
<title>See Matkul</title>
{% endblock meta %}
{% block content %}

<div class="main pt-3 mr-auto">
    <div class="container">
        <div class="back">
            <a href="{% url 'story5:index' %}"><-- Go Back</a>
        </div>
        <div class="rounded-lg mb-3 p-4 card-form" style="background-color: rgba(0, 46, 86, 0.224);">
            <h3>Mata Kuliah : {{ matakuliah.nama }}</h3>
            <div class="col p-auto m-auto">
                <p>Semester : {{ matakuliah.sems }}</p>
            </div>
            <div class="col p-auto m-auto">
                <p>Ruang : {{ matakuliah.ruangan }}</p>
            </div>
            <div class="col p-auto m-auto">
                <p>Dosen : {{ matakuliah.dosen }}</p>
            </div>
            <div class="col p-auto m-auto">
                <p>SKS : {{ matakuliah.sks }} SKS</p>
            </div>
            <div class="detail-description rounded-lg p-2">
                {{ matakuliah.desc }}
            </div>
        </div>
    </div>
</div>
{% endblock %}