.nav-item {
    display: inline-block;
    color: black;
}

.navbar-nav {
    object-position: center;
    display: inline-block;
    color: black;
}

.navbar {
    background-color: red;
}

.navbar-brand{
    object-position: left;
    color: black;
}


@import url('http://fonts.googleapis.com/css?family=Lato:400,700');

body {
  font-family: 'Lato', sans-serif;
}

.bg-navbar {
  background-color: #a3c4bc;
}

.main {
  min-height:calc(100vh - 56px);
  background-color: #f2dda4;
}

.card-form {
  background-color: #f7060664;
}

.input-description {
  min-height: 200px;
}

.detail-description {
  background-color: #ccd5ff;
  border:2px solid white;
}

.link-matkul {
  color: black;
}

h1 {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 50px;
  font-weight: 500;
  color: chocolate;
  margin-top: 100px;
}