h1 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    font-weight: 500;
    color: chocolate;
    margin-top: 100px;
}

* {
    margin: 0;
    padding: 0;
}

table, td, th {
    border: 1px solid black;
    border-collapse: collapse;
}

body, html {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}

body {
    background-image: url(https://images.alphacoders.com/100/1006753.png);
    background-size: cover;
    background-position: center;
}



.center .avatar img {
    border-radius: 50%;
    height: 140px;
    width: 140px;
    margin-top: 5%;
    object-position: 0 -8px;
    object-fit: cover;

}
.center {
    width: 60%;
    background-image: url(https://features.japantimes.co.jp/wp-content/uploads/2019/07/still-sub-8.jpg);
    height: 130vh;
    text-align: center;
    border-radius: 6px;
}
.fa:hover {
    opacity: 0.7;
  }
  
  .fa-instagram {
    background: #ffffff;
    color: rgb(250, 85, 85);
  }
  
  .fa-gitlab {
    background: #ffffff;
    color: orangered;
  }

  .fa-linkedin {
    background: #ffffff;
    color: blue;
  }
  .pfp {
    border-radius: 50%;
    height: 10%;
    width: 10%;
    object-position: 0 0px;
    object-fit: cover;
}
.row {
    object-position: center;
}

.nav-item {
    display: inline-block;
    color: black;
}

.navbar-nav {
    object-position: center;
    display: inline-block;
    color: black;
}


.navbar {
    background-color: rgba(255, 255, 0, 0.5);
}

.tulisan {
    color: black;
    padding-left: 10%;
    padding-top: 4%;
}
