<!DOCTYPE html>
<html lang="en">

{% load static %}

    <head>
        <link rel="shortcut icon" type="image/png" href="https://listimg.pinclipart.com/picdir/s/519-5198165_pepehands-png-clipart.png">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'story1applied/style.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>Matthew T.P. Solomon</title>
        <style>
            
            .fa {
                padding: 20px;
                font-size: 30px;
                width: 50px;
                text-align: center;
                text-decoration: none;
              }
              
        </style>
    </head>
    <body>
        <div class="center">
            <nav class="navbar navbar-expand-lg navbar-dark bg-main sticky-top">
                <div class="container">
                    <div class="row">
                        <a class="navbar-brand" href="#">   
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                                <div class="navbar-nav mb-auto">
                                    <a class="nav-item active" href="{% url 'home:index' %}">Home <span class="sr-only">(current)</span></a>
                                    <a class="nav-item " href="{% url 'home:index' %}#about">About</a>
                                    <a class="nav-item " href="{% url 'home:index' %}#container3">Experiences</a>
                                    <a class="nav-item " href="{% url 'home:index' %}#contacter">Contact</a>
                                    <a class="nav-item " href="{% url 'home:halaman2' %}">Favorite Movie</a>
                                    <a class="nav-item " href="#">Story 1</a>
                                    <a class="nav-item " href="{% url 'story5:index' %}">Mata Kuliah</a>
                                </div>
                            </div>
                        </a>
                    </div>
                
                </div>
            </nav>
            {% block content %}
            {% endblock %}
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        </div>
    </body>
</html>